{{ ansible_managed | comment }}

Acquire::AllowReleaseInfoChange::Suite "true";
Acquire::AllowReleaseInfoChange::Origin "true";
Acquire::AllowReleaseInfoChange::Label "true";
Acquire::AllowReleaseInfoChange::Version "true";
Acquire::AllowReleaseInfoChange::Codename "true";
